.start-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px 70px;
  box-shadow: 20px 20px 40px rgb(0, 0, 0);
  background-color: rgb(182, 245, 228);
  border-radius: 10px;
}

.enter-name {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    width: 100%;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    color: rgb(97, 97, 97);
  }

  &__input {
    width: 60%;
    border-bottom: 3px solid rgb(97, 97, 97);
    padding: 5px 10px;
    background: none;
    margin-bottom: 30px;

    text-align: center;
    color: rgba(97, 97, 97, .4);
    font-weight: bold;
    font-size: 1.5rem;
    transition: all .3s;

    &:focus {
      width: 100%;
      color: rgba(0, 110, 255, .9);
      transition: all .5s;
    }
  }

  &__button {
    width: 30%;
    background: none;
    color: rgba(97, 97, 97, .4);
    font-size: 1.5rem;
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;

    &:hover {
      color: rgba(97, 97, 97, 1);
      transition: all .5s;
    }
    
    &:active {transition: all 0s;}
  }
}

.chooseTheme {
  &__title {
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 60px;
    border-bottom: 4px solid rgb(97, 97, 97);
    font-weight: bold;
    color: rgb(97, 97, 97);
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list__title {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 20px;
    &:last-child {margin-bottom: 0;}
    font-weight: bold;
    color: rgba(97, 97, 97, .4);
    cursor: pointer;

    &:hover {
      transition: all .3s ease-in 0s;
      text-shadow: 5px -5px 10px rgba(0, 0, 0, .2);
      color: rgba(0, 110, 255, .9);
    }
    &:active {
      transition: all 0s;
      text-shadow: 5px -5px 10px rgba(0, 0, 0, .2);
      color: rgba(0, 110, 255, .9);
    }
  }
}

// Медиа запросы
@media only screen and (min-width : $smDesktopWidth) and (max-width: $desktopWidth) and (max-height: $tableWidth) {

}

@media only screen and (min-width : $tableWidth) and (max-width: $smDesktopWidth) and (max-height: $phoneWidth) {
  .start-form {
    padding: 15px 40px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
  }
  .enter-name {&__input {width: 70%;}}
  .chooseTheme {
    &__title {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__list__title {font-size: 1.2rem;}
  }
}

@media only screen and (min-width : $phoneWidth) and (max-width: $tableWidth) and (max-height: $phoneWidth) {
  .start-form {
    padding: 15px 40px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
  }
  .enter-name {&__input {width: 70%;}}
  .chooseTheme {
    &__title {
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__list__title {font-size: 1.2rem;}
  }
}

@media only screen and (min-width : $phoneWidth) and (max-width: $tableWidth) and (max-height: $smPhoneWidth) {

}

@media only screen and (min-width : $smPhoneWidth) and (max-width: $phoneWidth) {
  .start-form {
    padding: 15px 15px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
  }

  .enter-name {&__input {width: 70%;}}

  .chooseTheme {
    &__title {
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &__list__title {font-size: 1.2rem;}
  }
}