.card._numeric {
  .front {
    background: url('/assets/img/numeric/shirt_1.svg') no-repeat center #0854ff9e;
    background-size: 70%;
  }

  .back {
    background-size: 60%;
    background-color: #ffdf65;
    background-repeat: no-repeat;
    background-position: center;
  }
}