.card._figure {
  .front {
    background: url('/assets/img/figure/shirt_1.svg') no-repeat center #f3f1b4;
    background-size: 60%;
  }

  .back {
    background-size: 60%;
    background-color: #c4ffe4;
    background-repeat: no-repeat;
    background-position: center;
  }
}