.card._starWars {
  .front {
    background: url('/assets/img/starWars/shirt_1.svg') no-repeat center #8b0606;
    background-size: 70%;
  }

  .back {
    background-size: 60%;
    background-color: #d4baba;
    background-repeat: no-repeat;
    background-position: center;
  }
}