.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 15px;
  left: 15px;

  font-size: 3rem;
  color: aquamarine;
  font-weight: bold;
}

@media only screen and (min-width : $smPhoneWidth) and (max-width: $phoneWidth) {
  .timer {
    top: 5%;
    left: 30px;
  
    font-size: 2.5rem;
  }
}

.playing-field._numeric > .timer,
.playing-field._figure > .timer,
.playing-field._animal > .timer {
  color: #383838;
}